[submodule "Al-Quran-KuFlutter"]
	path = Al-Quran-KuFlutter
	url = https://github.com/Greek-Cp/Al-Quran-Ku-Flutter
[submodule "qurancord"]
	path = qurancord
	url = https://github.com/stackpan/qurancord.git
[submodule "jadwal-sholat"]
	path = jadwal-sholat
	url = https://github.com/haikelz/jadwal-sholat
[submodule "asmaul-husna-api"]
	path = asmaul-husna-api
	url = https://github.com/haikelz/asmaul-husna-api
[submodule "cheat-puasa"]
	path = cheat-puasa
	url = https://github.com/putra4648/cheat-puasa
[submodule "reminder-bot"]
	path = reminder-bot
	url = https://github.com/fdvky1/reminder-bot
[submodule "Quran"]
	path = Quran
	url = https://github.com/lzif/Quran
[submodule "asmaul-husna"]
	path = asmaul-husna
	url = https://github.com/suryami62/asmaul-husna.git
[submodule "IG-downloader"]
	path = IG-downloader
	url = git@github.com:yohanesokta/IG-downloader.git
[submodule "SejenakMembaca"]
	path = SejenakMembaca
	url = https://github.com/KZdra/SejenakMembaca.git
