.navbar-container {
    background-color: #3498db;
    border-radius: 25px;
    padding: 10px;
}

.bento {
    height: 150px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a light box shadow */
    transition: transform 0.3s ease;
}

.bento:hover {
    transform: scale(1.1); /* Zoom in when hovering */
}

.bento-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.bento-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Ensure that the container takes the full height of the parent */
}

.bento-center img {
    max-width: 100%; /* Ensure the image does not exceed the container width */
}

.shadow-rn {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a light box shadow */
}

/* Colors! */

.bg-spotify {
    background-color: #62dbbe;
}

.bg-github {
    background-color: #000000;
}

.bg-linkedin {
    background-color: #007ebb;
}

.bg-kitabisa {
    background-color: #03aeef;
}

/* Below is playing css */

.nowPlaying {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 13px;
    height: 13px;
  
    .playSpan {
      width: 3px;
      height: 100%;
      background-color: #fff;
      border-radius: 3px;
      content: '';
    }
  }

@keyframes bounce {
    10% {
      transform: scaleY(0.3); /* start by scaling to 30% */
    }
  
    30% {
      transform: scaleY(1); /* scale up to 100% */
    }
  
    60% {
      transform: scaleY(0.5); /* scale down to 50% */
    }
  
    80% {
      transform: scaleY(0.75); /* scale up to 75% */
    }
  
    100% {
      transform: scaleY(0.6); /* scale down to 60% */
    }
}
  
.playSpan {
    width: 3px;
    height: 100%;
    background-color: #fff;
    border-radius: 3px;
    animation: bounce 2.2s ease infinite alternate;
    content: '';
}

.playSpan {
    width: 3px;
    height: 100%;
    background-color: #fff;
    border-radius: 3px;
    transform-origin: bottom;
    animation: bounce 2.2s ease infinite alternate;
    content: '';
}

.playSpan {
    &:nth-of-type(2) {
      animation-delay: -2.2s; /* Start at the end of animation */
    }
  
    &:nth-of-type(3) {
      animation-delay: -3.7s; /* Start mid-way of return of animation */
    }
}
/* Style the scrollbar track */
::-webkit-scrollbar {
    width: 6px; /* Set the width of the scrollbar */
}

/* Style the scrollbar handle */
::-webkit-scrollbar-thumb {
    background-color: #fff; /* Set the color of the handle */
    border-radius: 3px; /* Set the border-radius to round the corners of the handle */
}

/* Style the scrollbar track on hover */
::-webkit-scrollbar-track:hover {
    background-color: #fff; /* Set the color of the track on hover */
}

/* Style the scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #fff; /* Set the color of the handle on hover */
}

/* Style the scrollbar corner */
::-webkit-scrollbar-corner {
    background-color: #fff; /* Set the color of the scrollbar corner */
}

/* Style the scrollbar track when scrollbar is inactive */
::-webkit-scrollbar-track:inactive {
    background-color: #fff; /* Set the color of the track when scrollbar is inactive */
}

/* Style the scrollbar handle when scrollbar is inactive */
::-webkit-scrollbar-thumb:inactive {
    background-color: #fff; /* Set the color of the handle when scrollbar is inactive */
}
