@media (min-width: 768px) and (max-width: 1024px) {
  
div.desktop-container{
  display: flex;
  flex: center;
  justify-content: center;
  margin-top: 1em;
}

div.desktop-wrapper {
  max-width: 375px;
  height: fit-content;
  background: #222;
  border:2px solid #000;
  padding: 10px;
  border-radius: 20px;
  background #799;
}

div.rumusContainer {
  border-radius: 10px !important;
  height: 128px !important;
}

div.btnContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.btnTop {
  color: #fff !important;
  font-size: 30px !important;
}
div.btn {
  line-height: 50px !important;
  width: 80px !important;
  height: 50px !important;
  font-size: 35px !important;
  padding: 2px !important;
}

div.desktop-button {
  text-align: center;
}

div.modalWrapper {
  width: 50%;
  height: 100%;
}
p.footer {
   transform: translateY(0);
   color: #fff;
   padding: 0;
 }
.tag {
  display: none;
}
}