div.openModal {
  position: relative;
  border-radius: 50px;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
     transition: 0.1s linear;
     padding: 20px;
     font-size: 25px;
     background: #F7F9FC;
     width: 80%;
     margin-top:10px;
     margin-bottom:10px;
}
 .openModal:hover {
  border-radius: 20px;
  background: #36a9ff;
  color: #fff;
}
div.modal {
  display: none;
  width: 100vh;
  height: 100vh;
  position: fixed;
  z-index: 1;
  transition: 0.3s linear;
}
div.modalClose {
  background: #0009;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 100vh;
}
div.modalWrapper {
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  max-width: 90%;
  width: 85%;
  min-height: 200px;
  height: 80%;
  padding: 0.5rem;
  background: #F7F9FC;
  color: #000;
  overflow: scroll;
  box-shadow: 5px 3px #000;
  border: 2px solid #000;
}
.loaderWrapper {
  font-family: Monospace;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.info {
  font-size: 14px;
  opacity: 0.5;
  font-family: Monospace;
  font-style: oblique;
}