@import url("./css/desktop.css");
@import url("./css/desktop-chrome-mobile.css");


body {
   position: relative;
   padding:0;
   font-family: Sans-Serif;
 }
   div.rumusContainer {
     border-radius: 0 0 10px 10px;
     padding: 1%;
     height: 20%;
     width: 98%;
     background: #EAEFF9;
     text-align: right;
     font-size: 55px;
   }
   div.rumus {
     transition: 0.3s ease-out;
     overflow-x: scroll;
     overflow-y: none;
     outline: none;
     border: none;
     width: 100%;
     height: 52%;
   }
   div.hasil {
     overflow-x: scroll;
     overflow-y: none;
     transition: 0.3s ease-out;
     font-size: 32px;
     max-height: 42px;
     margin-top:5px;
   }
   div.btnContainer {
     height: 75%;
     width: 100%;
     margin-top: 10px;
   }
   div.btnChildTop {
     display: flex;
     margin: 10px;
     font-size: 35px;
     overflow-y: none;
     overflow-x: scroll;
   }
   div.btnChild {
     display: flex;
     text-align: center;
     vertical-align: middle;
   }
   div.btnTop {
     margin-left: 0.5em;
     margin-right: 0.5em;
     padding: 0 0.25em 0 0.25em;
     width: fit-content;
     width: fit-content;
     border-radius: 10px;
   }
   div.btnTop:focus, div.btnTop:active {
     background: #eee;
   }
   div.btn {
     user-select: none;
     transition: 0.075s ease-out;
     padding: 10px;
     line-height: 60px;
     font-size: 40px;
     background: #F7F9FC;
     height: 60px;
     width: 70px;
     margin: 5px;
     border-radius: 50px;
   }
   div.btn:active, div.btn:focus {
     background: #eee;
     border-radius: 20px;
   }
   div.operator {
     background: #C2E7FF !important;
   }
   div.AC {
     background: #BAE3C6 !important;
   }
   div.jumlah {
     background: #D2E2FC !important;
   }
   p.footer {
     text-align: center;
     font-style: oblique;
     opacity: 0.4;
     transform: translateY(-2.5em);
   }